RPi/
PracSource/
.README*
~*
*~
.*.swo
Prac1/*~*
__pycache__
readings_bak
/lectures
/Prac2/Results.csv
*.swp
/Prac3/bin/
/Prac3/obj/
/Prac4/bin/
/Prac4/obj/
.vscode/
/fritzing*
/reports
Prac5/logisim/
*.o
mini*/src*/blynk-*
*.code*
